.root{
   width: 100%;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.messageField{
   height: calc(100vh - 150px);
   width: 90%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   overflow: hidden;
}
.control{
   width: 90%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.msgInput-wrapper{
   width: 85%;
   margin-right: 10px;
}
.msgSendBtn {
   margin: 10px;
   background-color:lightgrey;
   border-radius: 30px;
}